extends layout

block content
  .container
    p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.

    a(href='/products') All Products
    h1.intro-msg This app will allow users to manage products.
    a.featured(href='/products/create') Create Product
