doctype html
html(lang="en")
  head
    title Product Warehouse
    link(rel='stylesheet', href='/static/styles.css')

  body
    header.navbar
      h1
        a(href='/') Product Warehouse

      nav.nav
        a(href='/products') Products

    block content
